<html>
<head>
<title>
This is World of Ansible 
</title>
</head>
<body>
<h1> Welcome to DevOpsSchool.com Ansible Classs. My Name is {{ name }} and You are in  {{ ansible_os_family }} </h1>
</body>
</html>
